.form-div{
    display:flex;
    width:100%;
    padding-top: 5%;
    font-family: 'Turret Road', cursive;
    
}
.formBasic{
    width:50%;
}
.form-label{
    color:#e3f2fd;
}
.detect-button{
    width:100px;

}
