@import url(https://fonts.googleapis.com/css?family=Lato:900);

.rank-text-container{
    /* display:flex; */
    width:100%;
    padding-top:7%;
    font-family: 'Turret Road', cursive;
    color:#e3f2fd;
    text-align: center;

}
.first-text{
    font-size:1.5em;
    font-family: 'Roboto';
}
.second-text{
    font-size:1.5em;
}

div.foo{
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .letter{
    display: inline-block;
    font-weight: 900;
    font-size: 1.7em;
    margin: 0.2em;
    position: relative;
    color: #00B4F1;
    transform-style: preserve-3d;
    perspective: 400;
    z-index: 1;
  }
  .letter:before, .letter:after{
    position:absolute;
    content: attr(data-letter);
    transform-origin: top left;
    top:0;
    left:0;
  }
  .letter, .letter:before, .letter:after{
    transition: all 0.3s ease-in-out;
  }
  .letter:before{
    color: #fff;
    text-shadow: 
      -1px 0px 1px rgba(255,255,255,.8),
      3px 0px 1px rgba(0,0,0,.8);
    z-index: 3;
    transform:
      rotateX(0deg)
      rotateY(-45deg)
      rotateZ(0deg);
  }
  .letter:after{
    color: rgba(0,0,0,.11);
    z-index:2;
    transform:
      scale(1.08,1)
      rotateX(0deg)
      rotateY(0deg)
      rotateZ(0deg)
      skew(0deg,1deg);
  }
  .letter:hover:before{
    color: #fafafa;
    transform:
      rotateX(0deg)
      rotateY(-90deg)
      rotateZ(0deg);
  }
  .letter:hover:after{
    transform:
      scale(1.08,1)
      rotateX(0deg)
      rotateY(40deg)
      rotateZ(0deg)
      skew(0deg,22deg);
  }

  .foo{
    flex-wrap:wrap;
  }

  .your-name, .your, .rank, .is{
    padding-right:10px;
  }
.number{
  display:block!important;
}

/* MEDIA QUERIES */

@media screen and (min-width:320px){
  .letter{
    font-size:1.2em;
  }

}
@media screen and (min-width:400px){
  .letter{
    font-size:1.6em;
  }

}
@media screen and (min-width: 500px){
  .letter {
    font-size: 1.8em;
}
}


