.overall-container{
    padding-bottom: 2%;
}

.img-container{
    position:relative;
    max-width:500px;
    height:auto;
}
.image-to-analyze{
    width:100%;
}
.bounding-box{
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}